*, html {
    --var-main-dark-gradient: linear-gradient(to right, #B5179E , #7209B7);
    font-size: 16px;
}

.gradient-text {
    background: linear-gradient(to right, #B5179E , #7209B7) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.sidebar-active-tab {
    background-image: linear-gradient(to right, #B5179E , #7209B7);
    color: #fff !important;
    fill: white;
}

.border-image-gradient {
    background-image: linear-gradient(to right, #B5179E , #7209B7);
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}



@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}