*, html {
    --var-main-dark-gradient: linear-gradient(to right, #B5179E , #7209B7);
    font-size: 16px;
}

.sidebar-active-tab {
    background-image: linear-gradient(to right, #B5179E , #7209B7);
    color: #fff !important;
    fill: white;
}

.border-image-gradient {
    background-image: linear-gradient(to right, #B5179E , #7209B7);
}

.hide-scroll-bar::-webkit-scrollbar {
    width: 0px;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}